<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}"/>
    <script src="{% static '.js/login.js' %}"></script>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
</head>
<body>  
    <div class="loginbox">
        <img src="{% static 'images/avatar.png' %}" class="avatar">
        <h1>Login</h1>
        
        
            {% if form.errors %}
                <h5>Incorrect Username or Password!</h5>
            {% endif %}
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                    <h3>Username:</h3>
                    {{ form.username }}<br>
                    <h3>Password:</h3>
                    {{ form.password }}<br>
                    <input type="submit" value="Login" class="login-button"/>
                    <input type="hidden" name="next" value="{{ next }}">
            </form>            
        
    </div>
</body>
</html>