{% extends "blog/base.html" %}

{% block body_block %}

<section class="section section-left" id="about">
    <div class="paras">
    <p class="sectionTag text-bigger">About Me</p>
    <p class="sectionSubTag text-small">Hello, I am a computer student studying BSc.CSIT , with some experience web designing in PHP and Django. I make web projects for fun and upload them to Youtube.</p>
    <p class="sectionSubTag text-small">I made this page to upload my blogs and projects so anyone can take refernces from my projects and gather ideas.</p>
    <p class="sectionSubTag text-small">If you want to learn more you can contact me via email or social media.</p>
    <p class="sectionSubTag text-small">Shishir Regmi</p>
    <p class="sectionSubTag text-small">Kathmandu, Nepal</p>
    <p class="sectionSubTag text-small">shishir.regmi56@gmail.com</p>
    <p class="sectionSubTag text-small">
      <a href="https://github.com/shishirregmi" ><i class="fa fa-github" aria-hidden="true" ></i></a>
      <a href="https://instagram.com/shishir.regmi" ><i class="fa fa-instagram" aria-hidden="true" ></i></a>
      <a href="https://www.youtube.com/channel/UCy2QgaFBvwVHWx_IAHKU8xg" ><i class="fa fa-youtube-square" aria-hidden="true" ></i></a>
      <a href="https://twitter.com/regmi_shishir_" ><i class="fa fa-twitter" aria-hidden="true" ></i></a>
     </p>
     <p>&nbsp;</p>
     <p>&nbsp;</p>
     
    </div>
</section>

{% endblock %}