{% extends "base.html" %}

{% block body_block %}
<section class="background firstSection">
    <div class="box-main">
        <div class="firstHalf">
            <p class="text-big">About Me</p>
            <p class="text-small">Hello, I am a computer student studying BSc.CSIT , with some experience web designing in PHP and Django. I make web projects for fun and upload them to Youtube.If you want to Learn more click Learn More.</p>
            <a href="{% url 'about' %}" class="btn btn-primary">Learn More</a>         
        </div>
        <div class="secondHalf">
            <img src="https://avatars0.githubusercontent.com/u/40156144?s=400&u=343c185bc3c41f5bebff8a26c927ef7f8df0b16a&v=4" alt="Profile Pic">
        </div>
    </div>
</section>

<section class="section">
    <div class="paras">
      <p class="sectionTag text-big titles">My Blogs</p>
    </div>
</section>

{% for post in post_list %}
<section class="section">
    <div class="paras">
        <p class="text-big titles"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>
        <img src="https://source.unsplash.com/1400x450/?motherboard,cpu" alt="thumbnail" class="fakeimg" >
        
        <p class="text-smaller">
            <i class="fa fa-user" aria-hidden="true"> {{post.author}}    </i>
            <i class="fa fa-calendar-o" aria-hidden="true">     {{ post.published_date }} </i>
        </p>
        <p class="sectionSubTag text-small">{{ post.text|striptags|safe|slice:":555" }}...
        <a href="{% url 'post_detail' pk=post.pk %}">Readmore</a></p>
        <h6> {{ post.approve_comment.count }} Comments </h6>
    </div>
</section>
{% endfor %}





{% endblock %}